.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75dvh;
  width: 100%;
  position: relative;
}

.content {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background {
  z-index: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.circle {
  border-radius: 50%;
  width: 100%;
  height: 75%;
  box-shadow: 0 -25px 200px var(--hackneonHighlight);
}

.registrationButton {
  background-color: var(--hackbuttonColor);
  border: none;
  color: var(--hacktextLight);
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 900;
  font-style: italic;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: var(--hacktextDark);
    box-shadow: 0 0 1px 1px var(--hackbuttonShadow);
    transition: all 0.3s;
  }
}

.earthVideo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
  height: 75%;
  z-index: 0;
  filter: opacity(0.75);
}

.earthVideo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--hackneonHighlight);
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

@media screen and (max-width: 768px) {
  .earthVideo {
    width: 175dvw;
    left: -37.5dvw;
  }

  #contentHeading {
    font-size: 2rem;
  }
}
