.formInputDiv {
  position: relative;
  margin-top: 2.5rem;
}

.formInput {
  background-color: var(--hackeventDescBg);
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
  width: max(25dvw, 16rem);
  color: var(--hacktextDark);
  font-weight: 600;
  transition: 0.1s ease-out;
  outline: none;
}

.formInput:-webkit-autofill,
.formInput:-webkit-autofill:hover,
.formInput:-webkit-autofill:focus,
.formInput:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--hackeventDescBg) inset !important;
  -webkit-text-fill-color: var(--hacktextDark) !important;
}

.formInput:focus {
  outline: none;
}

.formInput::placeholder {
  font-weight: 600;
}

.label {
  position: absolute;
  font-size: 1rem;
  left: 0;
  bottom: -1.75rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: var(--hacktextDark);
  font-weight: 500;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
  padding: 0.5rem;
}

.formInput:focus + .label {
  top: 0;
  transform: translateY(-30%) scale(0.85);
}

.formInput:not(:placeholder-shown) + .label {
  top: 0;
  transform: translateY(-30%) scale(0.85);
}
