.managementPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-inline: 5dvw;
}

.managementPageContainer h2 {
  margin-block: 5rem -2rem;
}

.managementDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
