.mainDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 300px;
}

.sectionLine {
  width: 380px;
  height: 1px;
  background-color: var(--hacktextLight);
  rotate: 90deg;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionConnectDot {
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--hackneonHighlight);
  box-shadow: 0 0 1.75rem 0.75rem var(--hackneonHighlight);
  border-radius: 50%;
  margin-left: -1.75rem;
}

.sectionImage {
  width: 300px;
  background-color: var(--hackbgDark);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: random3DMotion 25s infinite alternate;
}

@keyframes random3DMotion {
  0% {
    transform: rotate3d(0, 1, 0, 15deg);
  }
  25% {
    transform: rotate3d(0, 1, 0, -15deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 15deg);
  }
  75% {
    transform: rotate3d(0, 1, 0, -15deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 15deg);
  }
}

.sectionContent {
  width: 300px;
  height: max-content;
  background-color: var(--hackbuttonDark);
  border-radius: 10px;
  padding: 2rem;
}

.sectionTime {
  color: var(--hackneonHighlight);
  margin-block: -20px -15px;
}

.sectionDate {
  color: var(--hackneonHighlight);
  margin-block: -20px -15px;
  font-weight: 600;
  font-size: 1.25rem;
}

.sectionHeading {
  font-size: 1.55rem;
  margin-top: -1.25rem;
}

@media screen and (max-width: 1000px) {
  .mainDiv {
    position: relative;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
  }

  .sectionLine {
    position: absolute;
    z-index: 1;
    top: -1rem;
  }

  .sectionContent {
    z-index: 2;
  }

  .sectionImage {
    z-index: 2;
  }
}
