.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 110dvh;
  width: 100%;
  background: url("/img/bg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding-bottom: 10dvh;
}

.mainDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 100%
  );
  width: 100%;
  height: 100%;
}

@keyframes background {
  0% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.8;
  }
}

.backgroundVectors {
  position: absolute;
}

#pythonLogo {
  top: 40dvh;
  right: 10dvw;
  height: 150px;
  width: 150px;
  transform: rotate3d(1, 1, 1, 25deg);
  animation: randomMove 50s infinite linear;
}

@keyframes randomMove {
  0% {
    transform: rotate3d(1, 1, 1, 25deg);
  }
  25% {
    transform: rotate3d(1, 1, 1, -25deg);
  }
  50% {
    transform: rotate3d(1, 1, 1, 25deg);
  }
  75% {
    transform: rotate3d(1, 1, 1, -25deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 25deg);
  }
}

@keyframes randomMove1 {
  0% {
    transform: rotate3d(1, 1, 1, -25deg);
  }
  25% {
    transform: rotate3d(1, 1, 1, 25deg);
  }
  50% {
    transform: rotate3d(1, 1, 1, -25deg);
  }
  75% {
    transform: rotate3d(1, 1, 1, 25deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, -25deg);
  }
}

#reactLogo {
  top: 20dvh;
  right: 20dvw;
  height: 125px;
  width: 125px;
  transform: rotate3d(1, 1, 1, -25deg);
  animation: randomMove1 50s infinite linear;
}

#piLogo {
  top: 60dvh;
  right: 25dvw;
  height: 125px;
  width: 125px;
  transform: rotate3d(1, 1, 2, -25deg);
  animation: randomMove 50s infinite linear;
}

#javascriptLogo {
  top: 75dvh;
  right: 10dvw;
  height: 120px;
  width: 120px;
  transform: rotate3d(1, 1, 2, -25deg);
  animation: randomMove1 50s infinite linear;
}

#flutterLogo {
  top: 40dvh;
  left: 10dvw;
  height: 125px;
  width: 125px;
  transform: rotate3d(1, 1, 2, -25deg);
  animation: randomMove1 50s infinite linear;
}

#nodejsLogo {
  top: 20dvh;
  left: 20dvw;
  height: 125px;
  width: 125px;
  transform: rotate3d(1, 1, 1, -25deg);
  animation: randomMove 50s infinite linear;
}

#javaLogo {
  top: 60dvh;
  left: 20dvw;
  height: 125px;
  width: 125px;
  transform: rotate3d(1, 1, 1, 25deg);
  animation: randomMove1 50s infinite linear;
}

.homeImage {
  position: relative;
}

.homeImage img {
  height: max(300px, 25dvw);
  width: max(300px, 25dvw);
}

.homeContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.homeSubHeading {
  margin-top: -2rem;
  text-align: center;
  font-size: 1.75rem;
}
