.evortalEventsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem 10dvw;
  color: var(--textDark);
}

.evortalEventImage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  width: max(20dvw, 350px);
  height: max(20dvw, 350px);
}

.evortalEventImage img {
  width: max(20dvw, 350px);
  height: auto;
}

.evortalEventDescripton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  width: max(20dvw, 450px);
  height: max(20dvw, 350px);
  color: var(--textDark);
  background-color: var(--eventDescBg);
  padding: 1.5rem 0rem 1rem 1rem;
}

.evortalEventHeading {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 -0.75rem 0;
}

.evortalEventText {
  font-size: 1.1rem;
  font-weight: 400;
  overflow-y: scroll;
  padding-right: 1rem;
}

.evortalEventDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  padding-right: 1rem;
}

.evortalEventDetailsDiv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.evortalEventDetail {
  background-color: var(--bgLight);
  padding: 0 0.75rem;
  height: 2.5rem;
  border-radius: 5px;
  gap: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.evortalEventDetail img {
  height: 1.5rem;
}

.evortalEventRegisterButton {
  color: var(--textLight);
  border-radius: 5px;
  padding: 0 0.75rem;
  height: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .evortalEventsContainer {
    flex-direction: column;
    gap: 0.5rem;
  }

  .evortalEventImage {
    width: max(30dvw, 350px);
    height: 100%;
  }

  .evortalEventImage img {
    width: max(30dvw, 350px);
    height: auto;
  }

  .evortalEventDescripton {
    height: max(30dvw, 350px);
    width: max(30dvw, 350px);
    padding-left: 1rem;
  }

  .evortalEventHeading {
    font-size: 1.25rem;
  }

  .evortalEventText {
    font-size: 1rem;
  }

  .evortalEventDetails {
    padding-right: 1rem;
    flex-direction: column;
    gap: 0.5rem;
  }

  .evortalEventDetailsDiv {
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .evortalEventDetail img {
    height: 1rem;
  }

  .evortalEventRegisterButton {
    width: 100%;
    margin-inline: 1rem;
    justify-content: center;
  }
}
