.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faqQuestions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  margin-block: 2rem 5rem;
}
