.pageHeadingDiv {
  text-align: center;
  color: var(--textLight);
  font-weight: 500;
  font-family: "Rajdhani", sans-serif;
  font-size: 10rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100dvw;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .pageHeadingDiv {
    font-size: 5rem;
    margin-top: 5rem;
    height: 20rem;
    line-height: normal;
  }
}

@media screen and (max-width: 500px) {
  .pageHeadingDiv {
    font-size: 4rem;
  }
}

.pageHeadingDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bgDark);
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

.pageHeading {
  position: relative;
  margin: 1rem;
}
