.showMore {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textDark);
  margin: -6rem 0 2rem 0;
}

.showMore img {
  margin: 0.2rem 0 0 0.2rem;
  height: 0.9rem;
  transition: all 0.3s ease-in-out;
}

.showMore:hover img {
  transform: translateX(5px);
  transition: all 0.3s ease-in-out;
}
