.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100dvh - 6rem);
  box-sizing: border-box;
  width: 100%;
  position: relative;
  padding-top: 15dvh;
  background-color: var(--bgDark);
}

.bgCircles {
  position: absolute;
  margin-top: -5dvh;
  z-index: 1;
}

.outerCircle {
  background: linear-gradient(0deg, var(--bgDark) 0%, var(--bgLight) 75%);
  border-radius: 100%;
  height: 40dvw;
  min-height: 300px;
  width: 40dvw;
  min-width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  animation: outerCircle 1.5s ease-in-out infinite alternate;
}

@keyframes outerCircle {
  0% {
    filter: drop-shadow(0px 0px 25px rgba(255, 255, 255, 0.25));
  }
  100% {
    filter: drop-shadow(0px 0px 100px rgba(255, 255, 255, 0.25));
  }
}

.innerCircle {
  background-color: var(--bgDark);
  border-radius: 100%;
  height: 38dvw;
  min-height: 280px;
  width: 38dvw;
  min-width: 280px;
  position: absolute;
  z-index: 3;
}

.pageContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10dvh;
  z-index: 4;
}

.pageHeading {
  text-align: center;
  color: var(--textLight);
  font-weight: 500;
  font-family: "Rajdhani", sans-serif;
  font-size: 12dvw;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.25));
}

.verticalLine {
  height: 18rem;
  border: none;
  width: 0.9rem;
  background-color: var(--textLight);
  margin: 0.6rem;
  border-radius: 4px;
}

#verticalLine1 {
  margin-top: -7rem;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  animation: verticalLine1 1.5s ease-in-out infinite alternate;
}

#verticalLine2 {
  margin-top: 12rem;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  animation: verticalLine2 1.5s ease-in-out infinite alternate;
}

@keyframes verticalLine1 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1rem);
  }
}

@keyframes verticalLine2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1rem);
  }
}

@media screen and (max-width: 1300px) {
  .pageContent {
    scale: 0.8;
  }
}

@media screen and (max-width: 1100px) {
  .pageContent {
    scale: 0.6;
  }

  .bgCircles {
    margin-top: -7dvh;
  }

  .pageHeading {
    font-size: 20rem;
  }
}

@media screen and (max-width: 950px) {
  .pageContent {
    scale: 0.5;
  }

  .bgCircles {
    margin-top: -10dvh;
  }

  .socialsDiv {
    display: none;
  }

  .popupTrigger img {
    height: 2rem;
  }

  .pageHeading {
    font-size: 18rem;
  }
}

@media screen and (max-width: 600px) {
  .pageContent {
    scale: 0.3;
  }

  .pageHeading {
    font-size: 16rem;
  }
}

.socialsDiv {
  position: absolute;
  margin-top: -10dvh;
  right: 5rem;
  z-index: 5;
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

.popupTrigger {
  position: absolute;
  z-index: 100;
  bottom: 10dvh;
  animation: popupTrigger 1.5s ease-in-out infinite alternate;
}

@keyframes popupTrigger {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 10deg);
    filter: drop-shadow(0px 0px 10px rgb(255, 225, 0));
  }
}

.popupTrigger img {
  height: 3rem;
}
