.contactContainer {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0 1rem 0;
  color: var(--textLight);
  font-weight: 500;
  background-image: url("/img/contactUsBg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.contactContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bgDark);
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

.contactDiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1rem;
}

.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50dvw;
}

.contactField {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contactFieldLogo {
  filter: invert(1);
  height: 1.5rem;
  margin-right: 0.5rem;
}

.copyRight {
  position: relative;
  text-align: center;
}

@media screen and (max-width: 850px) {
  .contactContainer {
    padding: 3.5rem 1.5rem 2rem 1.5rem;
    font-size: 0.95rem;
  }

  .contactDiv {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .logoDiv {
    scale: 1;
    order: 1;
  }

  .contactFieldsDiv {
    width: 100%;
    order: 1;
  }

  .socialsDiv {
    text-align: center;
    order: 1;
  }
}
