.mainDiv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 2rem;
  padding: 0rem 12vw 5rem 12vw;
  flex-direction: column;
  position: relative;
}

#problemStatementHeading {
  font-size: 3rem;
  text-align: center;
  display: block;
  width: 100%;
}

.problemStatementDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  overflow: visible;
}

.problemStatementInfo {
  flex: 0 0 auto;
  width: 100%;
  background-color: var(--hackbuttonDark);
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 8px 3px var(--hackneonHighlight);
}

.problemStatementTitles {
  margin-bottom: 2rem;
}

.problemStatementTitles h3,
.problemStatementTitles h4 {
  color: var(--hackneonHighlight);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.problemStatementTitles p {
  display: block;
}

.progressIndicator {
  display: none;
}

@media screen and (max-width: 1500px) {
  .mainDiv {
    gap: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .problemStatementInfo {
    width: 90%;
    margin: 1rem auto;
  }
}
