.mainDiv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: url("/img/registrationBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  gap: 5rem;
  width: 100%;
  padding-block: 10rem;
  position: relative;
  font-family: "Maven Pro", sans-serif;
  min-height: 100dvh;
  color: var(--textDark);
}

.loadingDiv {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backArrow {
  rotate: 180deg;
  position: absolute;
  top: 2rem;
  left: -5rem;
  cursor: pointer;
}

.heading {
  font-size: 2.5rem;
  color: var(--textLight);
  background-color: rgb(0, 0, 0);
  margin-top: 0;
  margin-bottom: 1rem;
  padding-block: 1.5rem;
  width: 100%;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.formDiv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  width: 40dvw;
  flex-direction: column;
  background-color: white;
  border-radius: 2px;
  padding-bottom: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.eventsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--textDark);
}

.eventImage img {
  margin: auto;
  width: max(20dvw, 350px);
  height: auto;
}

.eventDescripton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  width: max(20dvw, 350px);
  height: max(20dvw, 350px);
  color: var(--textDark);
  background-color: var(--bgLight);
  padding: 1.5rem 0rem 1rem 1rem;
}

.eventHeading {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 -0.75rem 0;
}

.eventText {
  font-size: 1.1rem;
  font-weight: 400;
  overflow-y: scroll;
  padding-right: 1rem;
}

.eventDetailsDiv {
  display: flex;
  width: max(20dvw, 350px);
  align-items: center;
  justify-content: center;
  margin-block: 10px;
  box-sizing: border-box;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.eventDetail {
  background-color: var(--bgLight);
  padding: 0 0.75rem;
  height: 2.5rem;
  width: 31.7%;
  border-radius: 5px;
  gap: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventDetail img {
  height: 1.5rem;
}

.submitButton {
  background-color: black;
  color: white;
  margin-top: 1rem;
  border: none;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.submitButton:hover {
  opacity: 0.8;
}

.errorMessage {
  color: #ff0000;
  font-size: 0.8rem;
  text-align: left;
  width: 100%;
  margin-block: -1rem 1.25rem;
}

.memberSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.paymentQRDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.paymentQRDiv img {
  min-width: 16rem;
  width: max(20dvw, 10rem);
  height: auto;
}

@media screen and (max-width: 1000px) {
  .mainDiv {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-block: 7.5rem 5rem;
    gap: 1rem;
  }

  .eventsContainer {
    flex-direction: column;
    gap: 0.5rem;
    /* display: none; */
  }

  .eventImage img {
    width: max(30dvw, 350px);
    height: auto;
  }

  .eventDescripton {
    height: max(30dvw, 350px);
    width: max(30dvw, 350px);
    padding-left: 1rem;
    display: none;
  }

  .eventHeading {
    font-size: 1.25rem;
  }

  .eventText {
    font-size: 1rem;
  }

  .eventDetails {
    padding-right: 1rem;
    flex-direction: column;
    gap: 0.5rem;
  }

  .eventDetailsDiv {
    align-items: center;
    width: max(30dvw, 350px);
    justify-content: space-evenly;
    gap: 0.5rem;
  }

  .eventDetail img {
    height: 1rem;
  }

  .eventRegisterButton {
    width: 100%;
    margin-inline: 1rem;
    justify-content: center;
  }

  .backArrow {
    top: -5rem;
    left: -2rem;
  }
}
