@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  color: var(--textLight);
  background-color: var(--bgDark);
  scroll-behavior: smooth;
}

:root {
  --bgDark: #020202;
  --bgLight: #fcfcfc;
  --navDark: #010101;
  --textLight: #ffffff;
  --textDark: #000000;
  --textDisabled: #464646;
  --buttonDark: #000000;
  --buttonLight: #ffffff;
  --buttonLink: #2797ff;
  --buttonDisabled: #a5a5a5;
  --scrollBar: #aaaaaa;
  --scrollBarHover: #888888;
  --separatorHr: #a5a5a5;
  --blueUnderLine: #33c2ff;
  --yellowUnderLine: #ffe600;
  --eventDescBg: #d9d9d9;
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent;
  box-sizing: border-box;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  cursor: pointer;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollBar);
  border-radius: 50px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollBarHover);
}

a {
  text-decoration: none;
  color: var(--textLight);
}

.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
