.homepageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  background-color: var(--bgLight);
}
